<template name="fingerprint">

    <div class="jumbotron">
        <div class="container">
            <h1>result</h1>

            <p>Your result is: {{getFingerprint}}</p>

            <p><a class="btn btn-primary" href="/" role="button">back to start</a></p>
        </div>
    </div>

    <div class="container">
        <h2>collected fingerprints</h2>
        <button>save the fingerprint</button>
        <ul>
            {{#each fingerprints}}
                {{> fp}}
            {{/each}}
        </ul>
    </div>

</template>

<template name="fp">
    <li>{{fp}}</li>
</template>
