<template name="fingerprint">

    <div class="jumbotron">
        <div class="container">
            <h1>result</h1>

            <div class="well">
                {{#each getFingerprint}}
                    <p>browser fingerprint: {{browserFP}}</p>

                    <p>canvas fingerprint: {{canvasFP}}</p>

                    <p>webgl fingerprint: {{webglFP}}</p>
                {{/each}}
            </div>

            <div class="row">
                <div class="col-md-1"><a id="save-button" class="btn btn-success" href="#" role="button">save</a></div>
                <div class="col-md-1"><a class="btn btn-primary" href="/" role="button">back to start</a></div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2>collected fingerprints</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#id</th>
                <th>Browser Fingerprint</th>
                <th>Canvas Fingerprint</th>
                <th>WebGL Fingerprint</th>
            </tr>
            </thead>
            <tbody>

            {{#each fingerprints}}
                {{> tr}}
            {{/each}}

            </tbody>
        </table>
    </div>

</template>

<template name="tr">
    <tr>
        <th scope="row">{{_id}}</th>
        <td>{{browserFP}}</td>
        <td>{{canvasFP}}</td>
        <td>{{webglFP}}</td>
    </tr>
</template>
