<template name="fingerprint">

    <div class="jumbotron">
        <div class="container">
            <h1>result</h1>

            <div class="well">

            </div>

            <h3>save fingerprint</h3>
            <form id="nickname">
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="InputNickname">Nickname</label>
                        <input name="nickname" type="text" class="form-control" id="InputNickname"
                               placeholder="Enter nickname">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <button id="save-button" class="btn btn-success" type="submit">save</button>
                    </div>
                    <div class="col-md-1"><a class="btn btn-danger" href="/" role="button">cancel</a></div>
                </div>
            </form>


        </div>
    </div>

    <div class="container">
        <h2>collected data</h2>
    </div>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-hover table-condensed table-striped">
                <thead>
                <tr>
                    <th>Data</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                {{#each getFingerprint}}
                {{> tr}}
                {{/each}}
                {{#each getImages}}
                {{> images}}
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>


</template>

<template name="tr">
    <tr>
        <th scope="row">{{key}}</th>
        <td>{{value}}</td>
    </tr>
</template>

<template name="images">
    <tr>
        <th scope="row">{{type}}</th>
        <td><img src={{src}} style="max-height:100px;"/></td>
    </tr>
</template>
