<template name="hello">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Device Fingerprinting Assessment</h1>

            <span class="label label-warning">Warning</span>

            <p> This is a platform for simple assessment and analysis of device fingerprinting software. It's currently
                under heavy development, so don't expect a fully functional tool.
                Be aware - this tool may collect privacy related information. Use at your own risk.
            </p>

            <p><a class="btn btn-primary btn-lg" href="/fingerprint" role="button">start fingerprinting &raquo;</a></p>
        </div>
    </div>

</template>